.header {
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: var(--spacing-rg-20) var(--spacing-md-40);
}

.logo {
  font-size: var(--font-size-h1);
}
